<ul class="nav nav-tabs">
  <li id="all" style="pointer: curser;"><%= link_to t(:all), admin_orders_path %></li>
  <% Order.statuses.keys.each do |status| %>
    <li id="<%= status %>" style="pointer: curser;"><%= link_to t("order.statuses.#{status}"), admin_orders_path(status: status) %></li>
  <% end %>
</ul>
<table class="table ">
  <thead>
    <tr>
      <th scope="col"><%= t "order.created_at" %></th>
      <th scope="col" style="max-width: 30vw;"><%= t "product.name" %></th>
      <th scope="col"><%= t "cart.total" %></th>
      <th scope="col"><%= t "order.status" %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="align-middle"><%= link_to order.created_at.strftime(Settings.date_format), order %></td>
        <td class="align-middle" style="max-width: 30vw;"><%= short_desc_products order %></td>
        <td class="align-middle"><%= number_to_currency order.total %></td>
        <td class="align-middle"><%= t "order.statuses.#{order.status}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div style="text-align: center;"><%= will_paginate @orders %></div>
<script>
  $("#<%= @status %>").addClass("active")
</script>
