<p><%= t :hi %> <%= @resource.email %>!</p>

<p><%= t "devise.mailer.reset_password_instructions.body1" %></p>

<p><%= link_to t("change_password"),
               edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "devise.mailer.reset_password_instructions.body2" %></p>
<p><%= t "devise.mailer.reset_password_instructions.body3" %></p>
