<div class="col-6 col-md-4 col-lg-3 mt-4" style="text-align: center;">
  <%= link_to "#" do %>
    <%= image_tag "https://www.mageplaza.com/assets/img/extensions/product-labels.png", size: Settings.product.img_max_size %>
    <p class="pl-3 mb-0"><%= product.name %></p>
    <b class="pl-2" style="color:black;">
      <%= t "product.price" %>: <%= number_to_currency(product.price, precision:0, unit: t(:currency), format: "%n %u") %>
    </b>
  <% end %>
</div>
