<div class="col-6 col-md-4 col-lg-3" style="margin-top: 10px; text-align: center;">
  <%= link_to "#" do %>
    <%= image_tag "https://www.mageplaza.com/assets/img/extensions/product-labels.png", size: Settings.product.img_max_size %>
    <p class="pl-3 mb-0"><%= product.name %></p>
    <b class="pl-2" style="color:black;">
      <%= t "product.price" %>: <%= number_to_currency product.price %>
    </b>
  <% end %>
  <%= form_for :cart, url: add_to_cart_path, remote: true do |f| %>
    <%= hidden_field_tag :product_id, product.id %>
    <%= f.submit t("cart.add_to_cart"), class: "btn btn-primary" %>
  <% end %>
</div>
